
body 
    {font-family: 'Roboto', 'sans-serif';
    background-color: #E5E5E5;
    color: #757575;}

/*Header*/

.page-header {background-color: #FFFFFF;}

.logo {
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #2196F3;}

.black {color: #212121;}
.blue {color: #2196F3;}
.grey {color: #757575;}

.link {
    text-decoration: none;
    font-style: normal;
    margin: 9px;}

.link:hover, 
.link:focus, 
.logo:hover, 
.logo:focus 
    {text-decoration: underline;
    text-decoration-color: #2196F3;}
    
/*Hero*/

.hero {background-color: #2F303A;}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    color: #FFFFFF;
    margin: 0;}

.btn {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.63;
    text-align: center;
    color: #212121;
    background-color: #F5F4FA;
    cursor: pointer;
    border-radius: 4px;
    border-width: 0;
    padding: 6px 22px;}

.btn.order {
    line-height: 1.89;
    background-color: #2196F3;
    color: #FFFFFF;
    padding: 10px 32px;}

.btn.primery {
    background-color: #2196F3;
    color: #FFFFFF;}

/*Features*/

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: #212121;}

.features> .section-title, 
.portfolio> .section-title, 
.filter> .section-title  
{visibility: hidden;}

.feature-list, 
.work-list, 
.team-list, 
.portfolio-list, 
.filter-list,
.nav-list,
.address-list,
.contact-list 
{list-style: none;}

.feature-list .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: left;
    color: #212121;}

.feature-list .description {
    font-size: 14px;
    line-height: 1.71;
    text-align: left;}

/*Team*/

.team {
    background-color: #FFFFFF;}

.team-list .title {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: #212121;}

.team-list .proffesion {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;}

.item {box-shadow: 0 5px 5px -5px #212121;}


/*Filter*/

/*Portfolio*/

.portfolio {background-color: #FFFFFF;}

.portfolio-list .title {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    text-align: center;
    margin: 0;
    color: #212121;}

.portfolio-list .type {
    font-size: 16px;
    line-height: 1.89;
    text-align: center;
    margin: 0;}

/*Footer*/

.page-footer {background-color: #2F303A;}

.address .half {
    color: rgba(255, 255, 255, 0.6);}

.white {color: #FFFFFF;}








